body{
    background: #fefefe;
}
section{
    background: lightblue;
}

h1 {
    color: blueviolet;
}
p{
    color: rgb(241, 218, 82);
}
h2{
    color: #1460AA;
}
article{
    background: lightcyan;
    border: lightpink;
    border-width: 1cm;
}
.hotpink-header{
    color:magenta;
}

.header-before-main{
    background: chartreuse;
    color: coral;
}